---
Title: Cake.Incubator
NoSidebar: true
NoContainer: false
NoGutter: true
---

<div class="container">				
	<h1>What is it?</h1>
    <p>
        This project contains various experimental but useful extension methods and aliases for Cake that over time may become part of the core project.
    </p>
</div>